@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Faça o upload do arquivo abaixo</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="text-center">
            <h1 class="display-4">Faça o upload do arquivo abaixo</h1>
            <input type="file" name="file" />
            <br /><br />

            <button type="submit">Enviar</button>
        </div>
    </form>

</div>
